@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-size: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

h1 {
  text-transform: uppercase;
}

table {
  margin: 40px auto;
}

table, tr, td {
  border: 1px solid #333;
  border-radius: 4px;
}

thead th {
  background: rgb(110, 255, 224);
  padding: 5px;
}

td {
  padding: 4px;
}

tbody tr:hover {
  background: rgba(211, 211, 211, 0.4);
  cursor: pointer;
  transform: scale(1.01)
}